@page "/not-found"
@layout MainLayout

<PageTitle>Page introuvable</PageTitle>

<h1>Page introuvable</h1>
<p>
    Le contenu demandé n’existe pas encore ou l’adresse saisie n’est pas valide.
</p>
<p>
    <a href="/">Revenir à l’accueil</a>
</p>
