@inherits LayoutComponentBase

<AppShell Title="Socle Blazor Enterprise" Subtitle="Architecture propre, composants réutilisables et orchestration .NET Aspire.">
    @Body
</AppShell>

<div id="blazor-error-ui" data-nosnippet>
    Une erreur inattendue est survenue.
    <a href="." class="reload">Recharger</a>
    <span class="dismiss">x</span>
</div>
