<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Reconnexion au serveur...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            La reconnexion a échoué... nouvelle tentative dans <span id="components-seconds-to-next-attempt"></span> secondes.
        </p>
        <p class="components-reconnect-failed-visible">
            Impossible de rétablir la session.<br />Veuillez réessayer ou recharger la page.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Réessayer
        </button>
        <p class="components-pause-visible">
            La session a été mise en pause par le serveur.
        </p>
        <p class="components-resume-failed-visible">
            Impossible de reprendre la session.<br />Veuillez réessayer ou recharger la page.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Reprendre
        </button>
    </div>
</dialog>
