.valid.modified:not([type=checkbox]) {
    outline: 1px solid var(--bes-color-success-text);
}

.invalid {
    outline: 1px solid var(--bes-color-danger-text);
}

.validation-message {
    color: var(--bes-color-danger-text);
}
